
        * {
            margin: 0;
            padding: 0;
            color: #3D373C;
            text-transform: uppercase;
            font-weight: bold;
            font-family: "Roboto", "Arial", sans-serif;
        }
        .center {
            padding: 0 5%;
        }
        header {
            background-color: rgb(214, 214, 163);
            opacity: 0.9;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 24px;
            max-height: 150px;
        }

        .logo_img {
            height: 150px;
            margin-right: 32px;
        }

        .logo {
            display: flex;
            align-items: center;
            gap: 16px;
        }
        main {
            height: 100vh;
        }
        body {
            background: url(images/panoram.jpg), no-repeat;
            -moz-background-size: 100%;
            -webkit-background-size: 100%;
            -o-background-size: 100%;
            background-size: cover;
            background-position: center;
            height: 100%;
        }

        .btn-cart {
            background: #d5cabe;
            border: 1px solid #aaaaaa;
            padding: 8px 16px;
            width: 200px;
            border-radius: 10px;
            font-size: 16px;
            height: 50px;
        }

        .btn-cart:active,
        .btn-cart:focus {
            outline: none;
        }

        .btn-cart:hover {
            transform: scale(1.1);
        }

        h1 {
            font-size: 32px;
        }

        h2 {
            padding: 32px;
            color:antiquewhite;
        }

        h3 {
            text-decoration: underline;
        }

        .products {
            display: flex;
            justify-content: center;
            gap: 8px;
            font-size: 16px;
            margin: 32px;
        }

        .product-item {
            background: #bba1c1;
            opacity: 0.9;
            display: flex;
            flex-direction: column;
            gap: 32px;
            padding: 8px 16px;
            border-radius: 10px;
            margin-bottom: 32px;
        }

        .input {
            width: 50px;
            all: unset;
            -moz-appearance: textfield;
            width: 3em;
            text-align: center;
            background: white;
            height: 30px;

        }

        .input::-webkit-inner-spin-button {
            opacity: 1;
            height: 30px;
        }

        .desc {
            display: flex;
            flex-direction: column;
            gap: 16px;
            z-index: 0;
        }

        .buy-btn {
            background: #d5cabe;
            border: 1px solid #aaaaaa;
            padding: 8px 16px;
            border-radius: 10px;
            max-height: 50px;
        }

        .buy-btn :active,
        .buy-btn:focus {
            outline: none;
        }

        .buy-btn:hover {
            transform: scale(1.1);
        }

        .cart {
            position: absolute;
            display: none;
            flex-direction: column;
            width: 30%;
            font-size: 16px;
            right: 0;
            top: 15%;  
            background: rgb(236, 236, 202);
            border-radius: 10px;
        }
        .cart-item {
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 8px 16px;
            border-bottom: 1px solid #aaaaaa;
        }
        .cart-desc {
            display: flex;
            flex-direction: column;
            gap: 8px;
            margin-right: 16px;
        }

        .del_btn {
            margin-left: 16px;
            width: 200px;
        }

        .total {
            display: flex;
            align-items: center;
            margin-left: 32px;
            padding: 16px;
        }
        .cart img {
            margin-right: 32px;
            height: 120px;
        }
        .cart_info {
            display: flex;
            flex-direction: column;
            gap: 16px;
            font-size: 16px;
        }

        #clear_cart {
            margin-left: 16px;
        }
        .empty {
            text-align: center;
            color: antiquewhite;
            font-size: 64px;
            margin-bottom: 64px;

        }